exportPattern("^[^\\.]")

S3method(is, DESin)
S3method(plot, DESin)
S3method(summary, DESin)
S3method(write, DESin)
S3method(is, spatialvalid)
S3method(plot, spatialvalid)
S3method(summary, spatialvalid)
S3method(as.data.frame, spgeoOUT)
S3method(is, spgeoOUT)
S3method(plot, spgeoOUT)
S3method(summary, spgeoOUT)

import(graphics)
importFrom("grDevices", chull, dev.off, heat.colors, pdf, rainbow, rgb)
importFrom("methods", as, is, slot)
importFrom("stats", complete.cases, median, aggregate, runif, na.omit)
importFrom("utils", read.table, write.table, download.file, unzip, data)
importFrom("rgeos", gIntersection, gBuffer)
importFrom("ggplot2", aes_string, coord_fixed, element_blank, element_text, fortify, geom_point, geom_polygon, geom_line, geom_ribbon, ggplot, ggtitle, scale_colour_manual, scale_shape_manual, scale_x_reverse, theme, theme_bw, xlab, ylab)
importFrom("picante", node.age)
importFrom("viridis", scale_fill_viridis)
import(raster)
import(sp)
import(rgdal)
import(geosphere)

