exportPattern("^[^\\.]")

S3method(is, DESin)
S3method(plot, DESin)
S3method(summary, DESin)
S3method(write, DESin)
S3method(is, spatialvalid)
S3method(plot, spatialvalid)
S3method(summary, spatialvalid)
S3method(as.data.frame, spgeoOUT)
S3method(is, spgeoOUT)
S3method(plot, spgeoOUT)
S3method(summary, spgeoOUT)

import(graphics)
importFrom("grDevices", chull, dev.off, heat.colors, pdf, rainbow, rgb)
importFrom("methods", slot, is)
importFrom("stats", complete.cases, median, aggregate, runif, na.omit)
importFrom("utils", read.table, write.table, download.file, unzip, data)
importFrom("maps", map)
importFrom("rgeos", gIntersection)
importFrom("ggplot2", aes_string, coord_fixed, element_blank, fortify, geom_point, geom_polygon, scale_colour_manual, scale_shape_manual, theme, theme_bw)
importFrom("picante", node.age)
import(raster)
import(sp)
import(rgdal)
import(geosphere)