exportPattern("^[^\\.]")

S3method(plot, spgeoIN)
S3method(plot, spgeoOUT)
S3method(plot, DESin)
S3method(summary, spgeoIN)
S3method(summary, spgeoOUT)
S3method(summary, DESin)
S3method(write, DESin)

import(graphics)
importFrom("grDevices", chull, dev.off, heat.colors, pdf, rainbow, rgb)
importFrom("methods", slot, is)
importFrom("stats", complete.cases, median, aggregate)
importFrom("utils", read.table, write.table, download.file, unzip)
importFrom("maps", map)
importFrom("rgeos", gIntersection)
import(raster)
import(sp)
